src/main/resources/META-INF/config/xsd/applications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://baxter-it.com/price-engine/conf/applications"
    xmlns:tns="http://baxter-it.com/price-engine/conf/applications" xmlns:c="http://baxter-it.com/config/component"
    xmlns:conf="http://baxter-it.com/config" elementFormDefault="qualified">

    <xs:import schemaLocation="component.xsd" namespace="http://baxter-it.com/config/component" />
    <xs:import schemaLocation="config.xsd" namespace="http://baxter-it.com/config" />

    <xs:element name="configuration">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="c:TWithComponents">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="port">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:positiveInteger">
                    <xs:attribute name="id" type="xs:NCName" use="optional" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

</xs:schema>