src/main/resources/META-INF/config/xsd/client-messaging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://baxter-it.com/price-engine/conf/client-messaging"
    xmlns:tns="http://baxter-it.com/price-engine/conf/client-messaging" xmlns:c="http://baxter-it.com/config/component"
    xmlns:conf="http://baxter-it.com/config" elementFormDefault="qualified">

    <xs:import schemaLocation="config.xsd" namespace="http://baxter-it.com/config" />


    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientMessaging" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="property" type="tns:TProperty" />
                            <xs:element name="jmsQueue" type="tns:TJMSQueue" />
                            <xs:element name="jmsTopic" type="tns:TJMSTopic" />
                            <xs:element ref="conf:reference" />
                        </xs:choice>
                        <xs:attribute name="id" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TJMSChannel">
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="channel" type="xs:string" use="required" />
        <xs:attribute name="prefix" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="TJMSQueue">
        <xs:complexContent>
            <xs:extension base="tns:TJMSChannel">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TJMSTopic">
        <xs:complexContent>
            <xs:extension base="tns:TJMSChannel">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TProperty">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="required" />
                <xs:attribute name="reference" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>