src/main/resources/META-INF/config/xsd/database.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://baxter-it.com/price-engine/conf/db"
    xmlns:tns="http://baxter-it.com/price-engine/conf/db" xmlns:c="http://baxter-it.com/config/component" xmlns:conf="http://baxter-it.com/config"
    elementFormDefault="qualified">

    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:ID" use="required" />
                        <xs:attribute name="url" type="xs:anyURI" use="optional" />
                        <xs:attribute name="driver" type="xs:string" use="optional" />
                        <xs:attribute name="credentials" type="xs:string" use="optional" />
                        <xs:attribute name="username" type="xs:string" use="optional" />
                        <xs:attribute name="password" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>