src/main/resources/META-INF/config/xsd/servlet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://baxter-it.com/price-engine/conf/servlet"
    xmlns:tns="http://baxter-it.com/price-engine/conf/servlet" xmlns:c="http://baxter-it.com/config/component"
    xmlns:conf="http://baxter-it.com/config" elementFormDefault="qualified">

    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="servlet" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:ID" use="required" />
                        <xs:attribute name="url" type="xs:anyURI" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>