src/main/resources/META-INF/config/xsd/snmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://baxter-it.com/price-engine/conf/snmp"
    xmlns:tns="http://baxter-it.com/price-engine/conf/snmp" xmlns:c="http://baxter-it.com/config/component" xmlns:conf="http://baxter-it.com/config"
    xmlns:t="http://baxter-it.com/config/types" elementFormDefault="qualified">

    <xs:import schemaLocation="types.xsd" namespace="http://baxter-it.com/config/types" />
    <xs:import schemaLocation="component.xsd" namespace="http://baxter-it.com/config/component" />
    <xs:import schemaLocation="config.xsd" namespace="http://baxter-it.com/config" />

    <xs:element name="configuration">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="snmp" type="tns:TSNMP" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TSNMP">
        <xs:complexContent>
            <xs:extension base="c:TWithComponents">
                <xs:sequence>
                    <xs:element name="components" type="tns:TIPs" />
                    <xs:element name="hardwares" type="tns:TIPs" />
                </xs:sequence>
                <xs:attribute name="storageWarningLevel" type="xs:positiveInteger" use="optional" />
                <xs:attribute name="interval" type="xs:positiveInteger" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TIPs">
        <xs:sequence>
            <xs:element name="ip" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d+(\.\d+){3}"></xs:pattern>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>